.link {
    color: #0B002EA3;
    
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 100%;
    font-family: 'Poppins', serif;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s ease;

    text-transform: uppercase;
}

.link:hover {
    text-decoration: underline;
    color: #0B002EA1;
}